/* Coolors Exported Palette - https://coolors.co/fd991d-c6bad7-5e5953-0096df-d83f22-25c2e9-fcec3b */


/* SCSS HEX */
$yellow-orange-color-wheel: #FD991Dff;
$thistle: #C6BAD7ff;
$davys-grey: #5E5953ff;
$carolina-blue: #0096DFff;
$vermilion: #D83F22ff;
$vivid-sky-blue: #25C2E9ff;
$aureolin: #FCEC3Bff;

/* SCSS HSL */
$yellow-orange-color-wheel: hsla(33, 98%, 55%, 1);
$thistle: hsla(265, 27%, 79%, 1);
$davys-grey: hsla(33, 6%, 35%, 1);
$carolina-blue: hsla(200, 100%, 44%, 1);
$vermilion: hsla(10, 73%, 49%, 1);
$vivid-sky-blue: hsla(192, 82%, 53%, 1);
$aureolin: hsla(55, 97%, 61%, 1);

/* SCSS RGB */
$yellow-orange-color-wheel: rgba(253, 153, 29, 1);
$thistle: rgba(198, 186, 215, 1);
$davys-grey: rgba(94, 89, 83, 1);
$carolina-blue: rgba(0, 150, 223, 1);
$vermilion: rgba(216, 63, 34, 1);
$vivid-sky-blue: rgba(37, 194, 233, 1);
$aureolin: rgba(252, 236, 59, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-right: linear-gradient(90deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-bottom: linear-gradient(180deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-left: linear-gradient(270deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-top-right: linear-gradient(45deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-bottom-right: linear-gradient(135deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-top-left: linear-gradient(225deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-bottom-left: linear-gradient(315deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
$gradient-radial: radial-gradient(#FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);