/* Coolors Exported Palette - https://coolors.co/d9da59-fcf8b1-fcec3b-c6bad7-fdf67b-2c83d7 */

/* CSS HEX */
--maximum-green-yellow: #D9DA59ff;
--lemon-yellow-crayola: #FCF8B1ff;
--aureolin: #FCEC3Bff;
--thistle: #C6BAD7ff;
--icterine: #FDF67Bff;
--bleu-de-france: #2C83D7ff;

/* CSS HSL */
--maximum-green-yellow: hsla(60, 64%, 60%, 1);
--lemon-yellow-crayola: hsla(57, 93%, 84%, 1);
--aureolin: hsla(55, 97%, 61%, 1);
--thistle: hsla(265, 27%, 79%, 1);
--icterine: hsla(57, 97%, 74%, 1);
--bleu-de-france: hsla(209, 68%, 51%, 1);

/* SCSS HEX */
$maximum-green-yellow: #D9DA59ff;
$lemon-yellow-crayola: #FCF8B1ff;
$aureolin: #FCEC3Bff;
$thistle: #C6BAD7ff;
$icterine: #FDF67Bff;
$bleu-de-france: #2C83D7ff;

/* SCSS HSL */
$maximum-green-yellow: hsla(60, 64%, 60%, 1);
$lemon-yellow-crayola: hsla(57, 93%, 84%, 1);
$aureolin: hsla(55, 97%, 61%, 1);
$thistle: hsla(265, 27%, 79%, 1);
$icterine: hsla(57, 97%, 74%, 1);
$bleu-de-france: hsla(209, 68%, 51%, 1);

/* SCSS RGB */
$maximum-green-yellow: rgba(217, 218, 89, 1);
$lemon-yellow-crayola: rgba(252, 248, 177, 1);
$aureolin: rgba(252, 236, 59, 1);
$thistle: rgba(198, 186, 215, 1);
$icterine: rgba(253, 246, 123, 1);
$bleu-de-france: rgba(44, 131, 215, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-right: linear-gradient(90deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-bottom: linear-gradient(180deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-left: linear-gradient(270deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-top-right: linear-gradient(45deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-bottom-right: linear-gradient(135deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-top-left: linear-gradient(225deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-bottom-left: linear-gradient(315deg, #D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);
$gradient-radial: radial-gradient(#D9DA59ff, #FCF8B1ff, #FCEC3Bff, #C6BAD7ff, #FDF67Bff, #2C83D7ff);