/* @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(183, 227, 239);
  /* background-color: #333; */
  height: 100vh;
  /* display: flex;
      justify-content: center;
      align-items: center; */
  color: #2C83D7ff;
  text-transform: lowercase;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav .btn-outline-primary {
  color: #00458f;
}

/**** css *** navbar*/
.bg-light {
  background-color: rgba(37, 194, 233, 1) !important;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li {
  position: relative;
  list-style: none;
  margin: 5px;
}

a {
  position: relative;
  display: block;
  height: 40px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 300;
  letter-spacing: 2px;
  overflow: hidden;
}

ul li a span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: 'Caveat', cursive;

  color: #5E5953ff;
  ;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav .btn-outline-primary {
  color: #00458f;
}

/**** css *** navbar*/
.bg-light {
  background-color: #0096DFff !important;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li {
  position: relative;
  list-style: none;
  margin: 5px;
}

a {
  position: relative;
  display: block;
  height: 40px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 300;
  letter-spacing: 2px;
  overflow: hidden;
}

ul li a span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  color: rgb(7, 7, 7);
  font-size: 20px;
  text-transform: capitalize;
  transition-delay: 0.5s;
  margin-top: 4px;
  font-size: 2rem;
}

ul li a span:hover {
  color: rgb(253, 251, 251);
}

a:hover span:nth-child(1) {
  transform: translateY(-150%);
  transition-delay: 0s;
}

a:hover span:nth-child(2) {
  transform: translateY(-150%);
  transition-delay: 0s;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #ed2626; */
  color: rgb(7, 7, 7);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.5s;
}

.dropdown-item {
  color: rgb(254, 254, 254);
  background-color: #0096DFff;
  border-radius: 5px;
  font-size: 24px;
}

.dropdown-item:hover {
  color: #0096DFff;
  background-color: rgb(248, 249, 250);
  border-radius: 5px;
}

.dropdown-menu {
  background-color: #0096DFff;
  border: 1px solid whitesmoke;
}

/* fin css navabar*/
/* BANNIERE IMG*/
#banniereImg{
  margin-top: 3em;
}
/* css titres et textes pages d'accueil*/
#apostrophe {
  font-family: 'Satisfy', cursive;
  padding: 0;
  color: #dc4c86;

}

h1 {
  margin-top: 1em;
  color: #404040;
  text-transform: uppercase;
}

#H1Apostrophe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0.2em;

}

h2 {
  color: #000;
  text-transform: capitalize;
  font-size: 1.9em;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1em;
}

/* css titres et textes pages d'acceuil*/
.container-fluid {
  font-family: 'Caveat', cursive;
  font-size: 2em;
  color: #0F3457;
  text-transform: initial;
}

p {
  padding: 5%;
}

.miseEnFormeParagraphe {
  margin-top: 1.5em;
  color: #0F3457;
  font-size: 1em;
  text-transform: initial;
  text-align: center;
  letter-spacing: 3px;
 
}
#miseEnFormeParagraphe{
  margin-top: 1.5em;
  color: #0F3457;
  font-size: 0.7em;
  text-transform: initial;
  text-align: start;
}



.MargTParagraphe .contactonsNous  a{
  margin-top: 1.5em;
  color: #0F3457;
  font-size: 1.08rem;
  text-transform: initial;
  /* text-align: center; */
  /* letter-spacing: 6px; */
}
.important {
  font-weight: bold;
  text-decoration: underline;
}

.textAlignCenter {
  display: inline;
  font-size: 29px;
}

.noWrap {
  display: inline;
  color: #000000;
}

.colorRed {
  color: #DC4C86ff;
  text-transform: capitalize;
}

/* fin css titres et textes page d'accueil */




/* css image mobile box tournante avec description après le hover*/
.container {
  width: 270px;
  height: 270px;
  position: relative;
}

.container .imgTournante {
  width: 100%;
  padding-top: 7%;
}

.container:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #2d3436;
  opacity: 0.8;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.8);
}

#paragraphe {
  font-size: 14px;
  width: 80%;
  align-self: center;
  text-align: center;
}

#linkCard {
  text-decoration: none;
  background: #000;
  color: #fff;
  width: 65%;
  padding: 25px;
  margin-bottom: 48px;
  align-self: center;
  text-align: center;
  /* HEIGHT: 100px; */
  /* vertical-align: text-top; */
  padding-top: 3px;
}

/* fin css titres et textes page d'accueil */


/* css image mobile box tournante avec description après le hover*/

.cubicBezier {
  transition: all 0.5s cubic-bezier(.43, .01, 0, 1.19);

}

.container {
  width: 270px;
  height: 270px;
  position: relative;
}

.container .imgTournante {
  width: 100%;
  padding-top: 7%;
}

.container:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #2d3436;
  opacity: 0.8;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(7, 7, 7);
  text-transform: uppercase;
}

h3 {

  color: white;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background: linear-gradient(290deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
}

#paragraphe {
  font-size: 14px;
  width: 80%;
  align-self: center;
  text-align: center;
}

#linkCard {
  text-decoration: none;
  color: #FCEC3Bff;
  background-color: #003E80;
  width: 100%;
  padding-top: 6%;
  margin-top: 1em;
  align-self: center;
  text-align: center;
  border-radius: 5px;
}

#linkCard:hover {
  text-decoration: none;
  background-color: #FCEC3Bff;
  color: #003E80;
  width: 100%;
  padding-top: 6%;
  margin-top: 1em;
  align-self: center;
  text-align: center;
  border-radius: 5px;
}

/*hovering effect goes here */
.container {
  background-color: #0096DFff;
  border: 10px solid rgba(52, 137, 179, 0.924);
  overflow: hidden;
}

.imgTournante {
  transition: all 0.5s;
}

.container:hover .imgTournante {
  transform: rotate(720deg) scale(0);
  opacity: 0;
}

.container:before {
  background-color: #CEFF90;
  opacity: 0;
  transition: all 0.3s;
}

.container:hover:before {
  opacity: 1;
  transition-delay: 0.5s;
}

#linkCard {
  transform: translateY(-300px);
  transition: all 0.2s;
}

.container:hover #linkCard {
  transform: translateY(0);
  transition-delay: 0.5s;
}

#paragraphe {
  transform: translateY(-300px);
  transition: all 0.2s;
}

.container:hover #paragraphe {
  transform: translateY(0);
  transition-delay: 0.7s;
}

h3 {
  transform: translateY(-300px);
  transition: all 0.2s;
}

.container:hover h3 {
  transform: translateY(0);
  transition-delay: 0.9s;
  /* text-align: center; */
  /* align-items: center; */
  font-size: 0.5em;
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 29%;
}


/* css buttons page accueil*/
.btn {
  background-color: #dc4c86;
  color: white;
  margin: 1em;
  /* padding: 1em; */
  font-size: 1.2em;
}

.btn:hover {
  background-color: #70d5d7;
  color: #2C83D7ff;
  transition: all 0.5s cubic-bezier(.17, .67, .66, .8);
  font-weight: 900;

}

.btnCenter {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.widthButton{
white-space:nowrap;}

/* css effets swap buttons */


.effetButtons {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  /* font-family: 'Gentium Book Basic', serif; */
  letter-spacing: 3px;
  height: 86px;
  width: 14em;
  /* line-height: 60px; */
  text-align: center;
  /* color: #6D0E09; */
  color: #001010;
  position: relative;
  margin: 1em;
}

.effetButtons:before {
  content: "";
  position: absolute;
  height: 114px;
  width: 14em;
  top: -15px;
  left: 0;
  border-left: 2px solid #040F10;
  border-right: 2px solid #001010;
  transition: all 01s;
  transition: all 1.6s cubic-bezier(.17, .67, .66, .8);
  border-radius: 3%;
}

.effetButtons:after {
  content: "";
  position: absolute;
  height: 84px;
  width: 16em;
  top: 0;
  left: -15px;
  border-top: 2px solid #001010;
  border-bottom: 2px solid #040F10;
  transition: all 1.6s cubic-bezier(.17, .67, .66, .8);
  border-radius: 3%;

}

.effetButtons:hover:before {
  transform: rotateY(180deg);
}

.effetButtons:hover:after {
  transform: rotateX(180deg);
}

/* textAlignCenter*/
.textAlignCenter{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* margin top and centered image*/

#MargTImage {
  margin-top: 2em;

}
.LogoTaille{
  display: flex ;
  justify-content: center;
}
.LogoTaille img{
  width: 9em;
  margin: 1em;

}

#Centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer qui sommes nous*/
.about{
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.3em;
  margin-top: 4em;
  color: #001010;
}
/* footer icones sociaux*/

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
}

.icons a {
  color: #001010;
  height: 100px;
}

/* footer contact*/

.footer-center, .footer-right{



    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: -24px; */
  
    /* WIDTH: 100%; */
    flex: 0;
    max-width: 100%;




}

.footer-left{
  max-width: 100%;
  text-align: center;
}
.contactFooter {
  text-align: center;
  color: #001010;
  display: block;
  font-family: 'Gentium Book Basic', serif;
  FONT-SIZE: 1.5EM;
  text-transform: uppercase;
}
.contactFooter a {
  height: 2.5em;
  font-size: 2em;
  text-transform: initial;
}
.contactFooter i {
  color: #dc4c86;
  font-size: 2em;
 
}



/*footer menu footer*/

.menuFooter{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid black;
  padding: 1.5em;
  color: #dc4c86;
  font-family: 'Gentium Book Basic', serif;
  
}
.menuFooter a{
  color: #040F10;
  font-size: 1.8em;
  text-transform: capitalize;
}