* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(183, 227, 239);
    /* background-color: #333; */
    height: 100vh;
    /* display: flex;
      justify-content: center;
      align-items: center; */
    font-family: "Raleway", Arial, sans-serif;
    color: #5E5953ff; ;
  }
  header nav {
    display: flex;
    justify-content: space-between;
  }
  header nav .btn-outline-primary {
    color: #00458f;
  }
  
  /**** css *** navbar*/
  .bg-light {
    background-color: rgba(37, 194, 233, 1)!important;
}
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    position: relative;
    list-style: none;
    margin: 5px;
  }
  
  a {
    position: relative;
    display: block;
    height: 40px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    overflow: hidden;
  }
  
  ul li a span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center; 
  font-family: "Raleway", Arial, sans-serif;
  color: #5E5953ff; ;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .btn-outline-primary {
  color: #00458f;
}

/**** css *** navbar*/
.bg-light {
  background-color: #0096DFff!important;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li {
  position: relative;
  list-style: none;
  margin: 5px;
}

a {
  position: relative;
  display: block;
  height: 40px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 300;
  letter-spacing: 2px;
  overflow: hidden;
}

ul li a span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  color: rgb(7, 7, 7);
  font-size: 20px;
  text-transform: capitalize;
  transition-delay: 0.5s;
  margin-top: 4px;
}
ul li a span:hover {
  color: rgb(253, 251, 251);
}

a:hover span:nth-child(1) {
  transform: translateY(-150%);
  transition-delay: 0s;
}

a:hover span:nth-child(2) {
  transform: translateY(-150%);
  transition-delay: 0s;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #ed2626; */
  color:rgb(7, 7, 7);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.5s;
}

 .dropdown-item {
  color: rgb(254, 254, 254);
  background-color:#0096DFff ;
  border-radius: 5px;
}
.dropdown-item:hover {
  color: #0096DFff;
  background-color:rgb(248, 249, 250) ;
  border-radius: 5px;
}
.dropdown-menu{
  background-color: #0096DFff;
  border: 1px solid whitesmoke;
}
/* fin css navabar*/

/* css titres et textes pages d'accueil*/
h1{
  margin-top: 1em;
}
h1, h2{
    text-align: center;
    margin-bottom: 1em;
}
p{
  text-align: center;
  padding: 5%;
}
.important{
  font-weight: 800;

}
.textAlignCenter{
display: inline;
font-size: smaller;

}
.noWrap{
display: inline;
color: #000000;
}
/* fin css titres et textes page d'accueil */


/* css image mobile avec description après le hover*/
 .container {
  width: 270px;
  height: 270px;
  position: relative;
}

.container .imgTournante {
  width: 100%;
  padding-top: 7%;
}

.container:before {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 content: '';
 background-color: #2d3436;
 opacity: 0.8;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(7, 7, 7);
  text-transform: uppercase;
}

h3 {
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background:linear-gradient(290deg, #FD991Dff, #C6BAD7ff, #5E5953ff, #0096DFff, #D83F22ff, #25C2E9ff, #FCEC3Bff);
}

#paragraphe {
  font-size: 14px;
  width: 80%;
  align-self: center;
  text-align: center;
}

#linkCard {
  text-decoration: none;
  background: #FCEC3Bff;
  color: #003E80;
  width: 65%;
  padding: 25px;
  margin-bottom: 48px;
  align-self: center;
  text-align: center;
  /* HEIGHT: 100px; */
  /* vertical-align: text-top; */
  padding-top: 3px;
}

/*hovering effect goes here */
.container {
 background-color: #0096DFff;
 border: 10px solid #C6BAD7ff;
 overflow: hidden;
}

.imgTournante {
 transition: all 0.5s;
}

.container:hover .imgTournante {
 transform: rotate(720deg) scale(0);
 opacity: 0;
}

.container:before {
 background-color: #CEFF90;
 opacity: 0;
 transition: all 0.3s; 
}

.container:hover:before {
 opacity: 1;
 transition-delay: 0.5s;
}

#linkCard {
 transform: translateY(-300px);
 transition: all 0.2s;
}

.container:hover #linkCard {
 transform: translateY(0);
 transition-delay: 0.5s;
}

#paragraphe {
 transform: translateY(-300px);
 transition: all 0.2s;
}

.container:hover #paragraphe {
 transform: translateY(0);
 transition-delay: 0.7s;
}

h3 {
 transform: translateY(-300px);
 transition: all 0.2s;
}

.container:hover h3 {
 transform: translateY(0);
 transition-delay: 0.9s;
}


/* css buttons page accueil*/
.btn{

background-color: #dc4c86;
color: white

}
.btn:hover{
  background-color: #70d5d7;
  color: #2C83D7ff;
}
.btnCenter{
display: flex;
justify-content: center;
padding: 1em;
}
.btnMatieresEnseignees{
margin: 2%;
}

 /* css effets swap buttons */

 
 #effetButtons {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: verdana;
  letter-spacing: 3px;
  height: 60px;
  width: 200px;
  /* line-height: 60px; */
  text-align: center;
  /* color: #6D0E09; */
  color: #001010;
  position: relative;
  margin: 1em;
}

#effetButtons:before {
  content: "";
  position: absolute;
  height: 90px;
  width: 200px;
  top: -15px;
  left: 0;
  border-left: 4px solid rgb(144, 233, 121);
  border-right: 4px solid rgb(216, 51, 51);
  transition: all 01s;
}

#effetButtons:after {
  content: "";
  position: absolute;
  height: 60px;
  width: 230px;
  top: 0;
  left: -15px;
  border-top: 4px solid rgba(247, 175, 175, 1);
  border-bottom: 4px solid #FDC518;
  transition: all 1s;
}

#effetButtons:hover:before {
  transform: rotateY(180deg);
}

#effetButtons:hover:after {
  transform: rotateX(180deg);
}
